<!DOCTYPE html>
<html lang="it">

<head>
  {{page_head|safe}}
</head>

<body>
  <nav role="navigation">
    <div class="nav-wrapper container">
      {{navbar|safe}}
      <ul class="right hide-on-med-and-down">
        {{menu_options|safe}}
        <!-- Dynamic elements added with python -->
      </ul>

      <ul id="nav-mobile" class="side-nav">
        {{menu_options|safe}}
        <!-- Dynamic elements added with python -->
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <header>
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br/>
        <h3 class="header center indigo-text darken-4-text">Nuovo metodo</h3>
        <br/>
      </div>
    </div>
  </header>

  <main>
    <div class="section" id="form_section">
      <div class="container">
        <div class="row">
          <form class="col s12" enctype="multipart/form-data">

            <div class="row mobile-row">
              <span class="card-panel col s12 white-text orange darken-4 category-header">Informazioni</span>
            </div>

            <div class="row mobile_row">
              <div class="input-field col s12">
                <input id="nome" name="nome" type="text" length="100" class="validate">
                <label for="name">Nome del metodo</label>
              </div>
            </div>

            <div class="row mobile_row">
              <div class="input-field col s12">
                <textarea id="descrizione" name="descrizione" type="text" class="materialize-textarea validate" placeholder="Questa cottura si esegue con..."></textarea>
              </div>
            </div>

            <br/>

            <div class="row center-on-small-only">
              <button id="submit_button" class="waves-effect waves-light btn" type="submit" value="Upload">Conferma</button>
            </div>
            <br/>
            <div class="row center-on-small-only">
              <button id="back_button" class="waves-effect waves-light btn" type="button" onclick="window.history.back();">Indietro</button>
            </div>
          </form>

          <div id="load-animation" class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>

            <div class="spinner-layer spinner-red">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>

            <div class="spinner-layer spinner-yellow">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>

            <div class="spinner-layer spinner-green">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>


  {{footer|safe}}
  <!-- Dynamic footer added with python -->

  <!--  Scripts-->
  <script src="../static/js/materialize.min.js"></script>
  <script src="../static/js/init.js"></script>

  <script type="text/javascript">
    var i = 0;
    var form_is_valid = false,
      method_is_unique = true;

    $(document).ready(function () {
      // $('#back_button').on('focus', function () {
      //   window.location.href = window.history.back();
      // });
    });

    // Custom validators
    jQuery.validator.addMethod("mustBeUnique", function (value, element) {
      return this.optional(element) || method_is_unique;
    }, "Hai già inserito un metodo con questo nome.");

    // Rules for validate form fields
    $('form').validate({
      rules: {
        nome: {
          required: true,
          maxlength: 100,
          mustBeUnique: true
        },
        descrizione: {
          required: true,
          maxlength: 65534
        }
      },
      messages: {
        nome: {
          required: "Questo campo è obbligatorio.",
          maxlength: "Inserisci al massimo 100 caratteri."
        },
        descrizione: {
          required: "Questo campo è obbligatorio.",
          maxlength: "Inserisci al massimo 65534 caratteri."
        }
      },
      errorElement: 'div',
      errorPlacement: function (error, element) {
        var placement = $(element).data('error');
        if (placement) {
          $(placement).append(error)
        } else {
          error.insertAfter(element);
        }
      }
    });

    $('form .validate').blur(function () {

      if ($(this).is('#nome')) {
        $.ajax({
          url: '/nel_database_' + $('#nome').val() + '_cat:metodo',
          type: 'GET',
          success: function (response) {
            if (response == "1") {
              method_is_unique = false;
              form_is_valid = false;
            } else {
              method_is_unique = true;
              form_is_valid = true;
            }
            $("#nome").valid();
          },
          error: function (a, b, c) {
            console.log(a, b, c);
          }
        });
      } else if ($(this).valid()) {
        form_is_valid = true;
      } else {
        form_is_valid = false;
      }
      if (!form_is_valid) {
        return;
      }
    });

    // Custon submit method
    $('form').on("submit", function (event) {
      event.preventDefault();

      // $('#load_modal').openModal();
      $('form').hide();
      $('#load-animation').show();

      $('form .validate').each(function () {
        if ($(this).valid()) {
          form_is_valid = true;
        } else {
          form_is_valid = false;
          return;
        }
      });

      if (form_is_valid) {
        $.ajax({
          url: '/aggiungi_metodo',
          type: 'POST',
          data: new FormData($('form')[0]),
          cache: false,
          contentType: false,
          processData: false,

          success: function (response) {
            // $('#load_modal').closeModal();
            $('form').show();
            $('#load-animation').hide();

            if (response == "0") {
              method_is_unique = false;
              form_is_valid = false;
              $("#nome").valid();
            } else if (response == "1") {
              form_is_valid = false;
            } else if (response == "2") {
              form_is_valid = false;
            } else {
              method_is_unique = true;
              form_is_valid = true;
              window.location.replace(response);
            }
          },
          error: function (a, b, c) {
            // $('#load_modal').closeModal();
            $('form').show();
            $('#load-animation').hide();

            console.log(a, b, c);
          }
        });
      }

    });
  </script>

</body>

</html>